/* .modals {
  display: none;
} */
.modal-overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.modal {
  z-index: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 20px;
  h2 {
    margin-bottom: 20px;
  }
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.product {
  display: flex;
  margin-bottom: 20px;
}
.product-img {
  border: 2px;
  width: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.product-info {
  width: 100%;
}
.product-counter {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100px;
  border-radius: 20px;
  background-color: rgba(248, 4, 215, 0.5);
}
.product-counter_control {
  width: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
  background-color: rgb(254, 48, 226);
}
.product-counter_control:hover {
  background: rgb(107, 3, 93);
  color: #fff;
}
.product-counter_amount {
  width: 40px;
  text-align: center;
}
.shop-cart-total {
  font-size: 16px;
  display: flex;
  margin-bottom: 20px;
}
.shop-cart-pay {
  margin-right: 5px;
}
.btn-pay {
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: rgb(254, 48, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
.btn-pay:hover {
  background: rgb(107, 3, 93);
  color: #fff;
}
.none {
  display: none;
}
