.swiper-container {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 20px;
}
.image-slaider__image {
  width: 100%;
  text-align: center;
  z-index: 999;
}
.image-slaider__image img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.swiper-button-prev {
  top: 21%;
  z-index: 0;
}
.swiper-button-next {
  top: 21%;
  z-index: 0;
}
.swiper-button-prev::after {
  color: rgba(202, 54, 185, 0.8);
}
.swiper-button-next::after {
  color: rgba(202, 54, 185, 0.8);
}
.swiper-pagination {
  position: relative;
  margin-bottom: 20px;
  z-index: 0;
}
.swiper-pagination span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #5c3249;
  font-size: 14px;
}
@media (max-width: 1010px) {
  .swiper-button-prev {
    top: 27%;
    z-index: 0;
  }
  .swiper-button-next {
    top: 27%;
    z-index: 0;
  }
}
